.drop {
  display: flex;
  gap: 2px;
  font-family: Arial, Helvetica, sans-serif;
}

.drop li {
  width: 150px;
  height: 50px;
}

.drop a {
  display: block;
  background: rgba(218, 222, 235, 0.623);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;  
}

.drop li:hover > a {
  background: rgb(161, 173, 214);
  color: white;
}

.dropDown {
  display: none;
}

.dropDown a {
  background: rgba(218, 222, 235, 0.247);
  border-radius: 0;
}


.drop li:hover > .dropDown {
  display: block;
}

.dropDown li:hover > a{
  border-left: 2px solid rgba(91, 110, 173, 0.918);
}
