@import url(./menudrop.css);

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: black;
}

nav{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

body{
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(60deg, rgba(44, 44, 114, 0.993),rgba(154, 154, 199, 0.548));
}