@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --b1: rgb(177, 217, 255);
  --b2: rgb(46, 154, 255);
  --f1: 18px;
  --f2: 24px;
  --f3: 32px;
  --ft: "Roboto", arial, sans-serif;
}

* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: var(--ft);
}

img {
  max-width: 100%;
  max-width: 100%;
  display: block;
}

/** Header */

header {
  background: var(--b2);
  margin-bottom: 60px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px 0;
}

header a {
  font-size: var(--f2);
  margin: 0 auto;
  color: var(--b1);
  padding-left: 10px;
}

main {
  display: flex;
  justify-content: space-around;
  height: 400px;
  text-align: center;
}

main > div h1{
  font-size: var(--f3);
  margin-bottom: 20px;
}

main > div p {
  width: 50ch;
  font-size: var(--f1);
  text-align: left;
}

main > img {
  box-shadow: 10px 15px 20px rgba(0, 0, 0, 0.432);
}

footer {
  background: var(--b2);
  margin-top: 60px;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer li:nth-child(1) {
  display: flex;
  align-items: center;
  color: var(--b1);
}
.footer li:nth-child(2) {
  display: flex;
  gap: 30px;
  align-items: center;
}
