@import url("https://fonts.googleapis.com/css2?family=Ewert&family=Ultra&display=swap");

* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Ultra', Arial, Helvetica, sans-serif;
  color: #291200;
}

img {
  max-width: 100%;
  display: block;
}
