* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  max-height: 100vh;
}

form {
  display: flex;
  align-items: center;
  margin-top: 200px;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 200px;
}

.name,
.cel,
.email,
.notes {
  position: relative;
  display: grid;
  grid-template-columns: 40px 1fr;
  align-items: center;
}

.name:hover::after,
.cel:hover::after,
.email:hover::after,
.notes:hover::after {
  position: absolute;
  height: auto;
  text-align: center;
  font-size: 12px;
  padding: 5px;
  background: #ccc ;
  border-radius: 12px;
}

.name:hover::before,
.cel:hover::before,
.email:hover::before,
.notes:hover::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background: #ccc ;
  transform: rotate(45deg);
}

.name:hover::after {
  content: "Preencha este campo com seu nome e sobrenome.";
  bottom: 30px;
  left: 40px;
}
.name:hover::before {
  bottom: 28px;
  left: 150px;
}

.cel:hover::after{
  content: 'Preencha este campo com seu codigo de area e seu numero!';
  width: 200px;
  left: 230px;
}

.cel:hover::before{
  right: -17px;
}

.email:hover::after{
  content: 'Preencha este campo com seu E-mail!';
  width: 130px;
  left: -151px ;
}

.email:hover::before{
  left: -17px;
  height: 9px;
  width: 9px;
}

.notes:hover::after{
  content: 'Preencha este campo com suas opinioes para ajudar no cescimento do nosso site.';
  width: 150px;
  top: 30px;
  left: 50px;
}

.notes:hover::before{
  right: 30px;
  top: 27px;
}