* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  background-image: linear-gradient(135deg, rgba(30, 30, 197, 0.5) 30%, rgba(224, 117, 17, 0.5) 70%);
}
