@import "_utilits.scss";

body {
  min-width: 100vw;
  display: grid;
  padding: 5px;
  .linha {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    height: 75px;
    
  }

  .um {
    & > div:nth-of-type(2n + 1) {
      background: rgb(255, 255, 255);
    }
    & > div:nth-of-type(2n + 2) {
      background: rgba(0, 0, 255, 0.5);
    }
  }
  .dois {
    & > div:nth-of-type(2n + 1) {
      background: rgba(0, 0, 255, 0.5);

    }
    & > div:nth-of-type(2n + 2) {
      background: rgba(0, 0, 255, 1);
    }
  }
}
