@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: white;
}

.menu {
  display: flex;
  gap: 10px;
  max-width: 700px;
  margin: 0 auto;
  padding: 10px 0;
  background: rgba(85, 126, 238, 0.918);
}

.menu a {
  font-size: 16px;
  padding: 10px 20px;
}

.menu a:hover {
  color: rgb(193, 205, 240);
}

@media (max-width: 700px) {
  .ham,
  .ham::after,
  .ham::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 3px;
    background: rgb(4, 8, 77);
    transition: all 0.3s ease-in-out;
    border-radius: 50px;
  }

  .ham {
    right: 20px;
    top: 20px;
  }
  .ham::after {
    top: 10px;
  }

  .ham::before {
    top: -10px;
  }

  .menu.actived .ham {
    background: transparent;
    transform: translateX(-10px);
  }

  .menu.actived .ham::before {
    transform: rotate(45deg) translateX(10px);
    top: -7px;
  }
  .menu.actived .ham::after {
    transform: rotate(-45deg) translateX(10px);
    top: 7px;
  }
}
