@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
  color: #291200;
}

img {
  max-width: 100%;
  display: block;
}
