@import "_utilits.scss";

body {
  max-width: 1040px;
  margin: 30px auto;
  .receita {
    display: flex;
    flex-direction: column;
    gap: 40px;
    p,li{
      max-width: 100ch;
      padding-top: 5px;
    }

    li{
      margin-left: 15px;
      padding-left: 15px;
    }
    & div:nth-of-type(1) {
      & > p {
        font-weight: bold;
        &:nth-of-type(1) span,
        &:nth-of-type(2) span {
          color: red;
          font-style: italic;
          font-weight: 400;
        }
        &:nth-of-type(3) span {
          color: blue;
          font-style: italic;
          font-weight: 400;
        }
        &:nth-of-type(4) span {
          color: green;
          font-style: italic;
          font-weight: 400;
        }
      }
    }
  }
}
