* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: url(./img.webp) no-repeat;
  background-position: center;
  background-size: cover;
}

body .container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  flex-wrap: wrap;
  z-index: 1;
}

body .container .card {
  position: relative;
  width: 280px;
  height: 400px;
  margin: 30px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

body .container .card:hover .content {
  transform: translateY(0px);
  opacity: 1;
}

body .container .card .content {
  padding: 20px;
  text-align: center;
  transform: translateY(100px);
  opacity: 0;
  transition: 0.5s;
}

body .container .card .content h2 {
  position: absolute;
  top: -70px;
  right: 30px;
  font-size: 8em;
  color: rgba(255, 255, 255, 0.02);
  pointer-events: none;
}

body .container .card .content h3 {
  font-size: 1.8em;
  color: #fff;
  z-index: 1;
}

body .container .card .content p {
  font-size: 1em;
  color: #fff;
  font-weight: 200;
}

body .container .card .content a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  margin-top: 15px;
  background: #fff;
  color: black;
  border-radius: 20px;
  font-weight: 500;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
