* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  div {
    .box {
      position: relative;
      padding: 20px;
      width: 300px;
      height: 90px;

      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      transition: all 1s ease-in-out;
      &:hover {
        & .dw {
          transform: translateY(-90px);
        }

        & .sc {
          transform: translateY(-90px);
        }
      }
      & .dw {
        background: black;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        letter-spacing: 0.2rem;
        font-size: 32px;
        color: white;
        position: absolute;
        height: 100%;
        width: 100%;
        transition: all .5s linear;
      }

      .sc {
        border: 5px solid black;
        background: white;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        letter-spacing: 0.2rem;
        font-size: 32px;
        color: white;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 90px;
        z-index: -1;
        transition: all .5s linear;
        & span {
          color: black;
        }
      }
    }
  }
}
