@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  text-transform: capitalize;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  justify-content: center;
  & .first,
  & .second,
  & .third {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 40px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: rgba(0, 0, 0, 0.5);
    border-radius: 40px;
    font-weight: 300;
    font-size: 32px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, background .5s ease-in-out;
    transform: translateY(-5px);

    overflow: hidden;

    &:hover {
      transform: translateY(0px);
      box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
    }
  }

  & .first {
    background-size: 390% 100%;
    p {
      transition: all 0.2s linear;
      position: relative;
      &::after {
        position: absolute;
        left: 0;
        color: transparent;
        content: "";
        transform: translatey(10px);
        transition: all .4s linear .2s;
      }
    }
    &:hover {
      border: none;
      background-image: linear-gradient(
        135deg,
        rgba(132, 132, 255, 1) 0%,
        rgba(132, 132, 255, 1) 52%,
        rgba(132, 132, 255, 0.5) 70%,
        rgba(132, 132, 255, 1) 70%,
        rgba(132, 132, 255, 1) 100%
      );
      background-position-x: -100%;
      & p {
        color: transparent;
        &::after {
          content: "Please hover me!";
          color: white;
          transform: translatey(0px);
        }
      }
    }
  }
  & .second{
    background-size: 390% 100%;
    p {
      transition: all 0.2s linear;
      position: relative;
      &::after {
        position: absolute;
        left: 0;
        color: transparent;
        content: "";
        transform: translatey(10px);
        transition: all .4s linear .2s;
      }
    }
    &:hover {
      border: none;
      background-image: linear-gradient(
        135deg,
        rgba(0, 255, 0, 1) 0%,
        rgba(0, 255, 0, 1) 52%,
        rgba(0, 255, 0, 0.2) 70%,
        rgba(0, 255, 0, 1) 70%,
        rgba(0, 255, 0, 1) 100%
      );
      background-position-x: -100%;
      & p {
        color: transparent;
        &::after {
          content: "no, hover here!";
          color: white;
          transform: translatey(0px);
        }
      }
    }
  }
  & .third {
    background-size: 390% 100%;
    p {
      transition: all 0.2s linear;
      position: relative;
      &::after {
        position: absolute;
        left: 0;
        color: transparent;
        content: "";
        transform: translatey(10px);
        transition: all .4s linear .2s;
      }
    }
    &:hover {
      border: none;
      background-image: linear-gradient(
        135deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 0, 0, 1) 52%,
        rgba(255, 0, 0, 0.5) 70%,
        rgba(255, 0, 0, 1) 70%,
        rgba(255, 0, 0, 1) 100%
      );
      background-position-x: -100%;
      & p {
        color: transparent;
        &::after {
          content: "i'm sad :C";
          color: white;
          transform: translatey(0px);
        }
      }
    }
  }
}
