@import url("https://fonts.googleapis.com/css2?family=Ewert&family=Ultra&display=swap");
* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Ultra', Arial, Helvetica, sans-serif;
  color: #291200;
}

img {
  max-width: 100%;
  display: block;
}

body {
  background-image: url(./assets/wood.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

body .cartaz {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(./assets/parchment.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 480px;
  height: 620px;
  padding: 20px;
  box-shadow: 6px 4px 10px black;
}

body .cartaz h1 {
  font-family: "Ewert";
  font-size: 3.5rem;
  font-weight: normal;
  margin: 0px;
}

body .cartaz p {
  font-size: 20px;
  text-transform: capitalize;
  margin-top: 5px;
}

body .cartaz > img {
  width: 300px;
  height: 325px;
  border: 3px solid #291200;
  padding: 10px;
  filter: sepia(60%);
}

body .cartaz h2 {
  font-size: 31px;
  font-weight: normal;
  margin-top: 10px;
}

body .cartaz span:nth-of-type(1) {
  font-size: 16px;
  font-style: italic;
  margin-top: 5px;
}

body .cartaz h3 {
  font-size: 24px;
  font-weight: normal;
  margin-top: 5px;
}

body .cartaz span:nth-of-type(2) {
  font-size: 32px;
  margin-top: 5px;
  position: relative;
}

body .cartaz span:nth-of-type(2)::after, body .cartaz span:nth-of-type(2)::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  background: #291200;
}

body .cartaz span:nth-of-type(2)::before {
  bottom: 0;
}

body .cartaz span:nth-of-type(2)::after {
  bottom: -6px;
  left: 0;
}
