@import "_utilits.scss";

body {
  min-width: 100vw;
  display: grid;
  padding: 5px;
  .linha {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    height: 75px;
    gap: 10px;
    margin-bottom: 10px;
  }

  .um {
    & > div:nth-of-type(3n + 1) {
      background: blue;
    }
    & > div:nth-of-type(3n + 2) {
      background: rgb(60, 60, 255);
    }
    & > div:nth-of-type(3n + 3) {
      background: rgb(0, 0, 70);
    }
  }
  .dois {
    & > div:nth-of-type(3n + 1) {
      background: rgb(60, 60, 255);
    }
    & > div:nth-of-type(3n + 2) {
      background: rgb(0, 0, 70);
    }
    & > div:nth-of-type(3n + 3) {
      background: blue;
    }
  }
  .tres {
    & > div:nth-of-type(3n + 1) {
      background: rgb(0, 0, 70);
    }
    & > div:nth-of-type(3n + 2) {
      background: blue;
    }
    & > div:nth-of-type(3n + 3) {
      background: rgb(60, 60, 255);
    }
  }
}
