@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  text-transform: capitalize;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  & > div {
    width: 500px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
      & .button {
        box-shadow: 15px 30px 30px black;
        .path {
          fill: white;
        }

        &::before,
        &::after {
          height: 60%;
          z-index: -1;
        }
      }
    }
    & .button {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 15px 50px;
      font-size: 32px;
      font-weight: 600;
      letter-spacing: 1rem;
      border-radius: 80px;
      box-shadow: 1px 3px 1px 10px black, -1px -3px 1px 10px black;
      overflow: hidden;
      position: relative;
      transition: all 0.2s ease-in-out;
      & svg {
        height: 50px;
        width: 300px;
      }

      &::before,
      &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 0%;
        background: #000;
        transition: all 0.2s ease-in-out;
      }
      &::before {
        top: 0;
      }
      &::after {
        bottom: 0;
      }
    }
  }
}
