*{padding:0;margin:0;outline:none;box-sizing:border-box;text-decoration:none;list-style:none}img{max-width:100%;display:block}body{min-width:100vw;min-height:100vh;background-image:linear-gradient(to top, #5f5fbe, #5fc05f 70%)}
