* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

div {
  & ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

    & li {
      display: flex;
      height: 100px;
      width: 100px;
      position: relative;
      padding: 20px;
      border-radius: 12px;

      &:nth-of-type(1)::before,
      &:nth-of-type(3)::before,
      &:nth-of-type(3)::after {
        border-radius: 30px;
        position: absolute;
        content: "";
        background: black;
      }

      &:nth-of-type(1)::before {
        width: 60px;
        height: 10px;
        left: 20px;
        top: 45px;
      }

      &:nth-of-type(2)::before {
        position: absolute;
        content: "";
        width: 60px;
        height: 60px;
        left: 15px;
        top: 15px;
        border: 5px solid black;
      }

      &:nth-of-type(3)::after,
      &:nth-of-type(3)::before {
        width: 90px;
        height: 10px;
      }

      &:nth-of-type(3)::before {
        transform: rotate(45deg);
        top: 45px;
        left: 5px;
      }

      &:nth-of-type(3)::after {
        transform: rotate(-45deg);
        top: 45px;
        left: 5px;
      }

      &:hover {
        background: rgba(128, 128, 128, 0.3);
        &:nth-of-type(3):hover {
          background: red;
          &::after,
          &::before {
            background: #fff;
          }
        }
      }
    }
  }
}
