@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  text-transform: capitalize;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  justify-content: center;
}

body .first,
body .second,
body .third {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 40px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.5);
  border-radius: 40px;
  font-weight: 300;
  font-size: 32px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, background .5s ease-in-out;
  transform: translateY(-5px);
  overflow: hidden;
}

body .first:hover,
body .second:hover,
body .third:hover {
  transform: translateY(0px);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
}

body .first {
  background-size: 390% 100%;
}

body .first p {
  transition: all 0.2s linear;
  position: relative;
}

body .first p::after {
  position: absolute;
  left: 0;
  color: transparent;
  content: "";
  transform: translatey(10px);
  transition: all .4s linear .2s;
}

body .first:hover {
  border: none;
  background-image: linear-gradient(135deg, #8484ff 0%, #8484ff 52%, rgba(132, 132, 255, 0.5) 70%, #8484ff 70%, #8484ff 100%);
  background-position-x: -100%;
}

body .first:hover p {
  color: transparent;
}

body .first:hover p::after {
  content: "Please hover me!";
  color: white;
  transform: translatey(0px);
}

body .second {
  background-size: 390% 100%;
}

body .second p {
  transition: all 0.2s linear;
  position: relative;
}

body .second p::after {
  position: absolute;
  left: 0;
  color: transparent;
  content: "";
  transform: translatey(10px);
  transition: all .4s linear .2s;
}

body .second:hover {
  border: none;
  background-image: linear-gradient(135deg, lime 0%, lime 52%, rgba(0, 255, 0, 0.2) 70%, lime 70%, lime 100%);
  background-position-x: -100%;
}

body .second:hover p {
  color: transparent;
}

body .second:hover p::after {
  content: "no, hover here!";
  color: white;
  transform: translatey(0px);
}

body .third {
  background-size: 390% 100%;
}

body .third p {
  transition: all 0.2s linear;
  position: relative;
}

body .third p::after {
  position: absolute;
  left: 0;
  color: transparent;
  content: "";
  transform: translatey(10px);
  transition: all .4s linear .2s;
}

body .third:hover {
  border: none;
  background-image: linear-gradient(135deg, red 0%, red 52%, rgba(255, 0, 0, 0.5) 70%, red 70%, red 100%);
  background-position-x: -100%;
}

body .third:hover p {
  color: transparent;
}

body .third:hover p::after {
  content: "i'm sad :C";
  color: white;
  transform: translatey(0px);
}
