* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background: #111;
}

.hamContent {
  margin: 400px auto;
  padding: 20px;
  height: 300px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;

  .ham {
    position: relative;

    &,
    &::before,
    &::after {
      width: 100px;
      height: 10px;
      background: #fff;
      border-radius: 80px;
      transition: all 0.3s ease-in-out;
    }

    &::before,
    &::after {
      position: absolute;
      content: "";
    }

    &::before {
      top: 30px;
    }
    &::after {
      bottom: 30px;
    }
  }

  &:hover {
    .ham {
      & {
        width: 150px;
        height: 150px;
        background: #111;
        border: 10px solid white;
        border-radius: 50%;
      }
      &::before {
        top: 60px;
        left: 15px;
        transform: rotate(45deg);
      }
      &::after {
        bottom: 60px;
        left: 15px;
        transform: rotate(-45deg);
      }
    }
  }
}
