@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  text-transform: capitalize;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

body > div {
  width: 500px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

body > div:hover {
  transform: scale(1.1);
}

body > div:hover .button {
  box-shadow: 15px 30px 30px black;
}

body > div:hover .button .path {
  fill: white;
}

body > div:hover .button::before, body > div:hover .button::after {
  height: 60%;
  z-index: -1;
}

body > div .button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 50px;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 1rem;
  border-radius: 80px;
  box-shadow: 1px 3px 1px 10px black, -1px -3px 1px 10px black;
  overflow: hidden;
  position: relative;
  transition: all 0.2s ease-in-out;
}

body > div .button svg {
  height: 50px;
  width: 300px;
}

body > div .button::before, body > div .button::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0%;
  background: #000;
  transition: all 0.2s ease-in-out;
}

body > div .button::before {
  top: 0;
}

body > div .button::after {
  bottom: 0;
}
