@import "_utilits.scss";

body {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .gif {
    width: 150px;
    height: 150px;
    background: black;

    animation: morph 3s infinite;
  }
}

@keyframes morph {
  0% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    background: black;
  }
  33% {
    clip-path: polygon(50% 0, 100% 100%, 0 100%, 31% 37.5%);
    // clip-path: polygon(50% 0%, 0% 100%, 100% 100%,31% 37.5%);

    background: red;
  }
  34% {
    border-radius: 0%;
  }
  66% {
    clip-path: polygon(100% 100%, 0 100%, 0 0, 100% 0);
    background: gray;
    border-radius: 50%;
  }
  100% {
    clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%);
    border-radius: 0;
  }
}
