@import "_utilits.scss";

body {
  min-width: 100vw;
  display: grid;
  .linha {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    height: 200px;
  }

  .um {
    & > div:nth-of-type(2n + 1) {
      border-left: 200px solid blue;
      border-right: 200px solid green;
      border-top: 100px solid yellow;
      border-bottom: 100px solid rgba(0, 0, 0,.5);
    }
    & > div:nth-of-type(2n + 2) {
      border-left: 200px solid rgba(0, 128, 0, 0.5);
      border-right: 200px solid rgba(0, 0, 255, 0.5);
      border-top: 100px solid yellow;
      border-bottom: 100px solid rgba(0, 0, 0,.5) ;
    }
  }
  .dois {
    & > div:nth-of-type(2n + 1) {
      border-left: 200px solid rgb(0, 255, 0);
      border-right: 200px solid rgba(0, 128, 0, 0.5);
      border-top: 100px solid rgba(0, 0, 0, 0.5);
      border-bottom: 100px solid yellow ;
    }
    & > div:nth-of-type(2n + 2) {
      border-left: 200px solid green;
      border-right: 200px solid rgba(0, 255, 0,.5);
      border-top: 100px solid rgba(0, 0, 0, 0.5);
      border-bottom: 100px solid rgba(255, 255, 0,1) ;
    }
  }
  
}
