.one {
  -webkit-mask-image: url(./discord-logo-5-1.png);
  mask-image: url(./discord-logo-5-1.png);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

  -webkit-mask-position: right left;
  mask-position: right left;

  -webkit-mask-size: 400px auto;
  mask-size: auto;
}

img {
  max-width: 100%;
  height: 400px;
  display: block;
}
