* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  div {
    .box {
      border: 5px solid blue;
      border-radius: 50px;
      padding: 20px;
      width: 242px;
      height: 90px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        background: blue;
        & .pm {
          display: none;
        }

        &::after {
          position: absolute;
          content: "";
          width: 10px;
          height: 10px;
          border-radius: 50%;
          
          animation: load .5s .1s 4 forwards;
        }

        & .sg {
          display: block;
          &::before {
            animation: load .5s .2s 4 forwards;
          }
          &::after {
            animation: load .5s 4 forwards;
          }
        }

        & .tc{
          display: block;
          animation: yes .4s 2.2s forwards;
        }
      }
      .pm {
        display: block;
        color: blue;
        font-size: 36px;
        font-weight: 700;
      }
      .sg {
        display: none;
        position: absolute;
        content: "";
        width: 10px;
        height: 10px;
        border-radius: 50%;

        &::before,
        &::after {
          position: absolute;
          content: "";
          width: 10px;
          height: 10px;
          border-radius: 50%;
        }

        &::after {
          right: 30px;
        }
        &::before {
          left: 30px;
        }
      }
      .tc {
        display: none;
        color: transparent;
        font-size: 36px;
        font-weight: 700;
      }
    }
  }
}

@keyframes load {
  0% {
    transform: translateY(-10px);
    background: rgba(255, 255, 255, 0.2);
  }
  70% {
    transform: translateY(0px);
    background:rgba(255, 255, 255, 0.8);
  }

  100%{
    background: rgba(0, 0, 0, 0);
    display: none;
  }
}
@keyframes yes {
  0% {
    transform: translateY(10px);
    color: rgba(255, 255, 255, 0.1) ;

  }

  5%{
    color: rgba(255, 255, 255, 0.3);
  }

  50%{
    transform: translateY(-5px);
    color: rgba(255, 255, 255, 0.5);
  }

  100% {
    transform: translateY(0px);
    color: rgba(255, 255, 255, 1);
  }
}
