
#singleSection {
  display: none;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  max-width: 960px;
  margin: 0 auto;
  height: 100vh;
  animation: bgLoad 10s forwards 2s;
  & .boxSingle {
    position: absolute;

    .loading {
      position: absolute;
      left: 370px;
      top: -0px;
      & p {
        color: white;
        font-size: 32px;
        animation: transparent 1s forwards 2.8s;
      }
    }
    .close {
      position: absolute;
      top: 10px;
      right: -30px;
      padding: 30px;
      cursor: pointer;
      &::after,
      &::before {
        position: absolute;
        content: "";
        width: 3px;
        height: 50px;
        background: red;
        top: 0;
      }
      &::before {
        transform: rotate(-45deg);
      }
      &::after {
        transform: rotate(45deg);
      }
    }
    .componetsGame {
      position: relative;

      & .generatingLoad {
        position: absolute;
        text-align: center;
        width: 400px;
        height: 25px;
        font-size: 32px;
        top: 80px;
        left: 250px;
        color: transparent;
        animation: transparent2 2.5s 2.8s;

        &::after {
          width: 0px;
          position: absolute;
          height: 10px;
          content: "";
          left: 0;
          bottom: -150px;
          animation: loadBar 0.5s 5 2.9s;
        }

        &::before {
          width: 400px;
          position: absolute;
          height: 10px;
          content: "";
          left: 0;
          bottom: -80px;
          animation: components 2.5s 2.8s;
          color: white;
          text-shadow: 2px 2px 1px rgba(255, 255, 255, 0.4);
        }
      }
      & .gStart {
        display: grid;
        opacity: 0;
        position: relative;
        max-width: 960px;
        margin: 100px auto 0;
        grid-template-columns: 1fr;
        text-align: center;
        gap: 30px;
        font-size: 22px;
        color: white;
        text-shadow: 2px 2px 1px rgba(255, 255, 255, 0.4);
        animation: displayy 0s forwards 5.6s;

        & .copy {
          display: grid;
          grid-template-columns: 1fr;
          align-items: center;
          justify-content: center;
          width: 600px;
          margin: 0 auto;
          gap: 10px;
          & input,
          & button {
            height: 50px;
          }
          & button {
            display: flex;
            align-items: center;
            color: white;
            justify-content: center;
            font-size: 18px;
            padding-bottom: 5px;
            background: rgb(110, 110, 110);
            box-shadow: 0 0 0 3px rgba(0, 0, 0, 1),
              inset 2px 2px 0 rgba(175, 175, 175, 1),
              inset 0px -5px 0 rgba(85, 85, 85, 1);
            &:hover {
              background: rgb(166, 166, 255);
              color: rgba(255, 255, 0, 01);
            }
          }
          & input {
            text-align: center;
            font-size: 22px;
            background: #000;
            border: 2px solid rgba(255, 255, 255, 0.5);
            &::placeholder {
              color: white;
              text-shadow: 2px 2px 1px rgba(255, 255, 255, 0.4);
            }
          }
        }
        & .start {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 40px;
          width: 600px;
          margin: 0 auto;
          & input {
            text-align: center;
            font-size: 20px;
            background: #000;
            color: white;
            text-shadow: 2px 2px 1px rgba(255, 255, 255, 0.4);
            border: 2px solid rgba(255, 255, 255, 0.5);
          }
          & button {
            display: flex;
            align-items: center;
            color: white;
            justify-content: center;
            font-size: 18px;
            height: 50px;
            width: 100%;
            padding-bottom: 5px;
            background: rgb(110, 110, 110);
            box-shadow: 0 0 0 3px rgba(0, 0, 0, 1),
              inset 2px 2px 0 rgba(175, 175, 175, 1),
              inset 0px -5px 0 rgba(85, 85, 85, 1);
            &:hover {
              background: rgb(166, 166, 255);
              color: rgba(255, 255, 0, 01);
            }
          }
        }
        & .propList {
          position: absolute;
          display: flex;

          left: 127px;
          bottom: -225px;
          box-shadow: 0px 0px 0px 8px black;
          & li {
            padding: 5px;
            background: rgba(0, 0, 0, 0.7);
            box-shadow: 0px 0px 0px 5px rgb(71, 65, 65);
            cursor: pointer;
            img {
              width: 60px;
              height: 60px;
              box-shadow: 5px 5px 0px rgb(99, 95, 95),
                -6px -6px 0px rgba(99, 95, 95, 0.2),
                0px 0px 0px 5px rgba(99, 95, 95, 1);
            }
            &:hover {
              box-shadow:0px 0px 0px 7px rgb(71, 65, 65), 0px 0px 0px 10px black;
              z-index: 2;
            }
          }
        }
      }
    }
  }
}