@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;1,300&display=swap");
* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Nunito', arial, sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

h1, h2, h3 {
  letter-spacing: .1rem;
}

.defaultPadding {
  padding-inline: 60px;
}

@media (max-width: 768px) {
  .defaultPadding {
    padding-inline: 30px;
  }
}

header {
  background: #000;
}

header nav {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

header nav .menu {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

header nav .menu > li a {
  padding: 20px;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}

header nav .menu > li a:hover {
  color: rgba(255, 255, 255, 0.63);
}

header .search {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

header .search label {
  cursor: pointer;
}

header .search label svg {
  fill: white;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  transition: all 0.3s ease-in-out;
  transition-delay: 0.1s;
}

header .search input {
  width: 0%;
  background: none;
  border: none;
  pointer-events: none;
  transition: all 0.4s linear;
}

header .search.actived svg {
  transform: rotate(90deg);
}

header .search.actived input {
  width: 100%;
  pointer-events: initial;
  box-shadow: 0 2px 0 -1px white;
  color: white;
  padding: 5px 0;
  margin: 5px 0;
}

header .search .hamb {
  display: none;
}

@media (max-width: 768px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
  }
  header > nav {
    position: relative;
  }
  header > nav .menu li:nth-child(2),
  header > nav .menu li:nth-child(3),
  header > nav .menu li:nth-child(4),
  header > nav .menu li:nth-child(5) {
    display: none;
  }
  header > nav.actived .menu {
    flex-direction: column;
    gap: 20px;
    height: 100vh;
  }
  header > nav.actived .menu li:nth-child(2),
  header > nav.actived .menu li:nth-child(3),
  header > nav.actived .menu li:nth-child(4) {
    display: initial;
  }
  header > nav.actived .hamb {
    top: 0;
  }
  header > nav .search {
    display: none;
    background: gray;
  }
  header > nav .search > label {
    display: none;
  }
  header > nav .search > input {
    display: none;
  }
  header > nav .hamb {
    position: absolute;
    background: gray;
    width: 60px;
    height: 62px;
    right: 0;
  }
  header > nav .hamb > div,
  header > nav .hamb > div::after,
  header > nav .hamb > div::before {
    position: absolute;
    width: 20px;
    height: 3px;
    background: black;
    border-radius: 16px;
    content: "";
    transition: all 0.4s ease-in-out;
  }
  header > nav .hamb > div {
    right: 20px;
    top: 31px;
  }
  header > nav .hamb > div::after {
    top: 8px;
  }
  header > nav .hamb > div::before {
    bottom: 8px;
  }
  header > nav .hamb > div.actived {
    background: transparent;
    transform: translateX(-10px);
  }
  header > nav .hamb > div.actived::after {
    transform: rotate(-45deg);
    left: 10px;
    top: 0;
  }
  header > nav .hamb > div.actived::before {
    transform: rotate(45deg);
    left: 10px;
    bottom: 0;
  }
}

.racionais {
  background-image: url(../assets/Racionaismc.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  height: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 60px;
  gap: 10px;
  position: relative;
}

.racionais:before {
  content: "";
  background: linear-gradient(180deg, transparent, transparent, rgba(0, 0, 0, 0.5));
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.racionais h1 {
  font-size: 64px;
  color: white;
  text-shadow: 7px 5px 8px black;
  position: relative;
  font-weight: bold;
  z-index: 1;
}

.racionais span {
  font-size: 28px;
  color: white;
  font-style: italic;
  text-shadow: 7px 5px 8px black;
  font-weight: bold;
  z-index: 1;
}

#group {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: 60px auto;
  align-items: center;
}

#group h1 {
  font-size: 64px;
  text-transform: uppercase;
  text-align: center;
}

#group span {
  font-size: 32px;
  font-style: italic;
  color: rgba(153, 153, 153, 0.664);
}

#group p {
  margin-top: 20px;
  max-width: 110ch;
  text-align: justify;
  word-wrap: break-word;
}

#group .grupIntegrants {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  margin-top: 60px;
}

#group .grupIntegrants li h3 {
  text-align: center;
  font-size: 32px;
  font-weight: bolder;
  margin-bottom: 30px;
}

#group .grupIntegrants li img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  object-position: top;
  transition: all 0.2s ease-in-out;
}

#group .grupIntegrants li img:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .grupIntegrants {
    flex-direction: column;
  }
}

#tour {
  background: #000;
  padding-top: 60px;
  padding-bottom: 60px;
  color: white;
}

#tour > div {
  text-align: center;
}

#tour > div h1 {
  font-size: 64px;
  text-transform: uppercase;
}

#tour > div span {
  font-size: 32px;
  color: rgba(153, 153, 153, 0.849);
  font-style: italic;
}

#tour .moutns {
  max-width: 1280px;
  margin: 60px auto;
}

#tour .moutns > li {
  color: gray;
  background: #f7f7f7;
  padding: 10px;
  position: relative;
  display: flex;
  align-items: center;
}

#tour .moutns > li + li {
  border-top: 1px solid rgba(0, 0, 0, 0.4);
}

#tour .moutns > li:nth-child(1)::after, #tour .moutns > li:nth-child(2):after {
  position: absolute;
  display: flex;
  content: "sold out";
  width: 70px;
  height: 20px;
  padding: 3px;
  background: rgba(255, 0, 0, 0.726);
  color: white;
  text-transform: capitalize;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}

#tour .moutns > li:nth-child(1)::after {
  left: 100px;
}

#tour .moutns > li:nth-child(2)::after {
  left: 80px;
}

#tour .moutns > li:nth-child(3)::after {
  position: absolute;
  content: "3";
  width: 25px;
  height: 25px;
  background: #000;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  right: 30px;
}

#tour .places {
  max-width: 1280px;
  margin-top: 20px;
  display: flex;
  gap: 50px;
  justify-content: space-between;
  align-items: center;
}

#tour .places > li {
  background: #fff;
}

#tour .places > li img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  object-position: top;
}

#tour .places > li > div {
  color: #000;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#tour .places > li > div h2 {
  font-size: 18px;
}

#tour .places > li > div span {
  font-size: 24px;
  color: #999999;
  font-style: italic;
  font-weight: bold;
}

#tour .places > li > div p {
  max-width: 30ch;
}

#tour .places > li > div > button {
  cursor: pointer;
  align-self: flex-start;
  padding: 5px 20px;
  border: none;
  background: #000;
  color: white;
  text-transform: uppercase;
}

#tour .places > li > div > button:hover {
  color: rgba(255, 255, 255, 0.596);
}

@media (max-width: 768px) {
  .places {
    flex-direction: column;
  }
}

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
  margin: 60px auto;
  max-width: 1280px;
}

#contact > h1 {
  font-size: 64px;
  text-transform: uppercase;
}

#contact > span {
  font-size: 32px;
  font-style: italic;
  color: #999999;
}

#contact > div {
  margin-top: 60px;
  display: flex;
  gap: 100px;
}

#contact > div .contactsGrup li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

#contact > div .contactsGrup li a {
  color: black;
}

#contact > div .contactsGrup li + li {
  margin-top: 10px;
}

#contact > div .contactsGrup li svg {
  width: 24px;
  height: 24px;
}

#contact > div .ourContacts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 400px;
  gap: 10px;
}

#contact > div .ourContacts input {
  padding: 10px;
  border: none;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.144);
}

#contact > div .ourContacts textarea {
  resize: none;
  border: none;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.144);
  padding: 10px;
  grid-column: 1/-1;
}

#contact > div .ourContacts button {
  grid-row: 3;
  grid-column: 2;
  justify-self: end;
  padding: 5px 20px;
  border: none;
  color: white;
  text-transform: uppercase;
  background: #000;
  letter-spacing: .1rem;
}

#contact > div .ourContacts button:hover {
  color: rgba(255, 255, 255, 0.63);
}

@media (max-width: 768px) {
  #contact > div {
    flex-direction: column;
  }
}

.city {
  background-image: url(../assets/Novayork1920.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
  position: relative;
}

.city:before {
  content: "";
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

footer {
  background: white;
}

footer .footerList {
  max-width: 1280px;
  margin: 0 auto;
  padding: 80px 0 40px;
  font-size: 24px;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
}

footer .footerList .socialC {
  display: flex;
  gap: 20px;
}

footer .footerList .socialC > li svg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}
