@import url("https://fonts.googleapis.com/css2?family=Ewert&family=Ultra&display=swap");
* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Ultra', Arial, Helvetica, sans-serif;
  color: #291200;
}

img {
  max-width: 100%;
  display: block;
}

body {
  min-width: 100vw;
  display: grid;
  padding: 5px;
}

body .linha {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  height: 75px;
  gap: 10px;
  margin-bottom: 10px;
}

body .um > div:nth-of-type(3n + 1) {
  background: blue;
}

body .um > div:nth-of-type(3n + 2) {
  background: #3c3cff;
}

body .um > div:nth-of-type(3n + 3) {
  background: #000046;
}

body .dois > div:nth-of-type(3n + 1) {
  background: #3c3cff;
}

body .dois > div:nth-of-type(3n + 2) {
  background: #000046;
}

body .dois > div:nth-of-type(3n + 3) {
  background: blue;
}

body .tres > div:nth-of-type(3n + 1) {
  background: #000046;
}

body .tres > div:nth-of-type(3n + 2) {
  background: blue;
}

body .tres > div:nth-of-type(3n + 3) {
  background: #3c3cff;
}
