* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
}

div {
  padding: 40px;
  margin: 0 auto;
  width: 400px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  & > div {
    width: 350px;
    height: 150px;
    border: 10px solid rgb(231, 36, 36);
    border-radius: 100px;
    padding: 30px;
    transition: all 0.3s ease-in-out;
    &::before,
    &::after {
      position: absolute;
      content: "";
      width: 10px;
      height: 80px;
      border-radius: 40px;
    }

    span {
      font-size: 32px;
      font-weight: bold;
      opacity: 1;
      transition: all 0.01s ease-in-out;
      color: rgb(231, 36, 36);
    }
  }
  &:hover {
    & div {
      width: 150px;
      border-radius: 50%;
      position: relative;
      transition: all 0.1s linear;
      background: rgb(231, 36, 36);

      &:before,
      &::after {
        background: #fff;
      }
      &:before {
        animation: overDeg 0.3s forwards linear 0.4s;
      }
      &::after {
        animation: overDeg1 0.3s forwards linear 0.4s;
      }

      & span {
        opacity: 0;
      }
    }
  }
}

@keyframes overDeg1 {
  0% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(55deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

@keyframes overDeg {
  0% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-55deg);
  }
  100% {
    transform: rotate(-45deg);
  }
}
