* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px 10px;
  background: #ddd;
  min-height: 100vh;
  text-align: center;
}

.grid-1 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.grid-2 {
  grid-column-start: 3;
  grid-column-end: 6;
}

.grid-3 {
  grid-column-start: 6;
  grid-column-end: 10;
}
.grid-4 {
  grid-column-start: 10;
  grid-column-end: 13;
}
.item {
  background: #f7f7f7;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
