@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  text-transform: capitalize;
  font-weight: normal;
  color: white;
}

.menu {
  display: flex;
  gap: 10px;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  background: rgba(85, 126, 238, 0.918);
  position: relative;
}

.menu h1 {
  margin-left: 10px;
}

.navMenu {
  background: rgb(2, 16, 54);
  display: none;
  flex-direction: column;
  align-items: center;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  transition: all 1s ease-in-out  ;
  
}

.navMenu li {
  height: 100px;
  display: flex;
  align-items: center;
}

.navMenu a {
  font-size: 16px;
  padding: 10px 20px;
}

.navMenu a:hover {
  color: rgb(193, 205, 240);
}

.hamCont {
  position: absolute;
  content: "";
  width: 35px;
  height: 35px;
  background: rgb(4, 47, 168);
  right: 10px;
  top: 7px;
  border-radius: 50%;
}

.ham,
.ham::after,
.ham::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 2.5px;
  background: white;
  transition: all 0.3s ease-in-out;
}
.ham {
  right: 8px;
  top: 16px;
}
.ham::after {
  right: 0px;
  top: 7px;
}
.ham::before {
  right: 0px;
  bottom: 7px;
}

.menu.actived .ham {
  background: transparent;
}

.menu.actived .ham::before {
  transform: rotate(-45deg);
  top: 0px;
}
.menu.actived .ham::after {
  transform: rotate(45deg);
  top: 0px;
}

.actived1 {
  display: flex;
}
