*{padding:0;margin:0;outline:none;box-sizing:border-box;text-decoration:none;list-style:none}img{max-width:100%;display:block}body{min-width:100vw;height:50px;background-image:linear-gradient(90deg, rgba(0,0,255,0.5), #f805a7, yellow, #28ffd0)}
