.city{
  background-image: url(../assets/Novayork1920.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
  position: relative;
  &:before {
    content: "";
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    );
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}