#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
  margin: 60px auto;
  max-width: 1280px;

  & > h1 {
    font-size: 64px;
    text-transform: uppercase;
  }
  & > span {
    font-size: 32px;
    font-style: italic;
    color: rgb(153, 153, 153);
  }
  & > div {
    margin-top: 60px;
    display: flex;
    gap: 100px;
    .contactsGrup li {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 10px;
      & a {
        color: black;
      }

      & + li {
        margin-top: 10px;
      }
      & svg {
        width: 24px;
        height: 24px;
      }
    }
    .ourContacts {
      display: grid;
      grid-template-columns: 1fr 1fr;
      max-width: 400px;
      gap: 10px;
      input {
        padding: 10px;
        border: none;
        box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.144);
      }
      textarea {
        resize: none;
        border: none;
        box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.144);
        padding: 10px;
        grid-column: 1/-1;
      }
      button {
        grid-row: 3;
        grid-column: 2;
        justify-self: end;
        padding: 5px 20px;
        border: none;
        color: white;
        text-transform: uppercase;
        background: #000;
        letter-spacing: .1rem;
        &:hover{
          color: rgba(255, 255, 255, 0.63);
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #contact {
    & > div{
      flex-direction: column;
    }
  }
}