footer{
  background: white;
  .footerList{
    max-width: 1280px;
    margin: 0 auto;
    padding: 80px 0 40px;
    font-size: 24px;
    text-transform: uppercase;  
    display: flex;
    justify-content: space-between;
    .socialC{
      display: flex;
      gap: 20px;

      & > li svg{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
      }
    }
  }

}