#group{
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: 60px auto;
  align-items: center;
  h1 {
    font-size: 64px;
    text-transform: uppercase;
    text-align: center;
  }
  span {
    font-size: 32px;
    font-style: italic;
    color: rgba(153, 153, 153, 0.664);
  }

  p {
    margin-top: 20px;
    max-width: 110ch;
    text-align: justify;
    word-wrap: break-word;
  }

  .grupIntegrants {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    margin-top: 60px;
    li {
      h3 {
        text-align: center;
        font-size: 32px;
        font-weight: bolder;
        margin-bottom: 30px;
      }
      img {
        width: 400px;
        height: 400px;
        object-fit: cover;
        object-position: top;
        transition: all 0.2s ease-in-out;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .grupIntegrants {
    flex-direction: column;
  }
}
