header {
  background: #000;
  nav {
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .menu {
      display: flex;
      flex-wrap: wrap;
      padding: 20px;
      > li a {
        padding: 20px;
        text-transform: uppercase;
        font-weight: bold;
        color: white;
        &:hover {
          color: rgba(255, 255, 255, 0.63);
        }
      }
    }
  }
  .search {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;

    label {
      cursor: pointer;
      svg {
        fill: white;
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        transition: all 0.3s ease-in-out;
        transition-delay: 0.1s;
      }
    }
    input {
      width: 0%;
      background: none;
      border: none;
      pointer-events: none;
      transition: all 0.4s linear;
    }
    &.actived svg {
      transform: rotate(90deg);
    }
    &.actived input {
      width: 100%;
      pointer-events: initial;
      box-shadow: 0 2px 0 -1px white;
      color: white;
      padding: 5px 0;
      margin: 5px 0;
    }
    .hamb {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    & > nav {
      position: relative;
      // transition: all 1s ease-in-out;
      .menu li:nth-child(2),
      .menu li:nth-child(3),
      .menu li:nth-child(4),
      .menu li:nth-child(5) {
        display: none;
      }
      &.actived {
        .menu {
          flex-direction: column;
          & li:nth-child(2),
          & li:nth-child(3),
          & li:nth-child(4) {
            display: initial;
          }
          gap: 20px;
          height: 100vh;
          
        }
        .hamb {
          top: 0;
        }
      }
      .search {
        display: none;
        background: gray;
        & > label {
          display: none;
        }
        & > input {
          display: none;
        }
      }
      .hamb {
        position: absolute;
        background: gray;
        width: 60px;
        height: 62px;
        right: 0;

        & > div,
        & > div::after,
        & > div::before {
          position: absolute;
          width: 20px;
          height: 3px;
          background: black;
          border-radius: 16px;
          content: "";
          transition: all 0.4s ease-in-out;
        }
        & > div {
          right: 20px;
          top: 31px;
          &::after {
            top: 8px;
          }
          &::before {
            bottom: 8px;
          }
        }
        & > div.actived {
          background: transparent;
          transform: translateX(-10px);
          &::after {
            transform: rotate(-45deg);
            left: 10px;
            top: 0;
          }
          &::before {
            transform: rotate(45deg);
            left: 10px;
            bottom: 0;
          }
        }
      }
    }
  }
}
