.racionais {
  background-image: url(../assets/Racionaismc.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  height: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 60px;
  gap: 10px;
  position: relative;
  &:before {
    content: "";
    background: linear-gradient(
      180deg,
      transparent,
      transparent,
      rgba(0, 0, 0, 0.5)
    );
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  h1 {
    font-size: 64px;
    color: white;
    text-shadow: 7px 5px 8px black;
    position: relative;
    font-weight: bold;
    z-index: 1;
  }
  span {
    font-size: 28px;
    color: white;
    font-style: italic;
    text-shadow: 7px 5px 8px black;
    font-weight: bold;
    z-index: 1;
  }
}
