#tour {
  background: #000;
  padding-top: 60px;
  padding-bottom: 60px;
  color: white;
  & > div {
    text-align: center;
    h1 {
      font-size: 64px;
      text-transform: uppercase;
    }
    span {
      font-size: 32px;
      color: rgba(153, 153, 153, 0.849);
      font-style: italic;
    }
  }
  .moutns {
    max-width: 1280px;
    margin: 60px auto;
    & > li {
      color: gray;
      background: #f7f7f7;
      padding: 10px;
      position: relative;
      display: flex;
      align-items: center;
      & + li {
        border-top: 1px solid rgba(0, 0, 0, 0.4);
      }
      &:nth-child(1)::after,
      &:nth-child(2):after {
        position: absolute;
        display: flex;
        content: "sold out";
        width: 70px;
        height: 20px;
        padding: 3px;
        background: rgba(255, 0, 0, 0.726);
        color: white;
        text-transform: capitalize;
        font-weight: bold;
        align-items: center;
        justify-content: center;
      }
      &:nth-child(1)::after {
        left: 100px;
      }
      &:nth-child(2)::after {
        left: 80px;
      }

      &:nth-child(3)::after {
        position: absolute;
        content: "3";
        width: 25px;
        height: 25px;
        background: #000;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        right: 30px;
      }
    }
  }
  .places {
    max-width: 1280px;
    margin-top: 20px;
    display: flex;
    gap: 50px;
    justify-content: space-between;
    align-items: center;

    & > li {
      background: #fff;
      & img {
        width: 400px;
        height: 400px;
        object-fit: cover;
        object-position: top;
      }

      & > div {
        color: #000;
        padding: 15px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        & h2 {
          font-size: 18px;
        }

        & span {
          font-size: 24px;
          color: rgb(153, 153, 153);
          font-style: italic;
          font-weight: bold;
        }

        & p {
          max-width: 30ch;
        }

        & > button {
          cursor: pointer;
          align-self: flex-start;
          padding: 5px 20px;
          border: none;
          background: #000;
          color: white;
          text-transform: uppercase;
          &:hover {
            color: rgba(255, 255, 255, 0.596);
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .places {
    flex-direction: column;
  }
}
