@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,500;0,700;1,200;1,400&display=swap');
* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Nunito', arial, sans-serif;
}

img{
  max-width: 100%;
  display: block;
}

h1,h2,h3{
  letter-spacing: .1rem;
}

.defaultPadding{
  padding-inline:60px;
}

@media (max-width:768px) {
  .defaultPadding{
    padding-inline:30px;
  }
}