* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
  background: #600040;
  margin-bottom: 60px;
}

body h1 {
  margin-top: 20px;
  color: #fff;
}

body table {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}

body table .table th,
body table .table td {
  border: 1px solid black;
}

body table .table th {
  vertical-align: bottom;
  background: #ff0066;
  padding: 20px 80px;
}

body table .table td {
  padding: 15px 50px 35px;
  font-weight: 300;
  background: #aaaaff;
  position: relative;
}

body table .table td::after {
  position: absolute;
  font-style: italic;
  text-transform: capitalize;
}

body table .frist td::before {
  position: absolute;
  font-weight: bold;
  font-size: 20px;
  top: -30px;
  color: white;
  text-transform: capitalize;
}

body table .frist td:nth-of-type(1)::before {
  content: "monday";
  left: 40px;
}

body table .frist td:nth-of-type(1)::after {
  content: "A120";
  top: 40px;
  left: 60px;
}

body table .frist td:nth-of-type(2)::before {
  content: "tuesday";
  left: 40px;
}

body table .frist td:nth-of-type(2)::after {
  content: "C1";
  top: 40px;
  left: 68px;
}

body table .frist td:nth-of-type(3)::before {
  content: "wednesday";
  left: 30px;
}

body table .frist td:nth-of-type(3)::after {
  content: "B21";
  top: 40px;
  left: 65px;
}

body table .frist td:nth-of-type(4)::before {
  content: "thursday";
  left: 45px;
}

body table .frist td:nth-of-type(4)::after {
  content: "A120";
  top: 40px;
  left: 70px;
}

body table .frist td:nth-of-type(5)::before {
  content: "friday";
  left: 60px;
}

body table .frist td:nth-of-type(5)::after {
  content: "B101";
  top: 40px;
  left: 70px;
}

body table .second td:nth-of-type(1)::after {
  content: "lab1";
  top: 40px;
  left: 60px;
}

body table .second td:nth-of-type(2)::after {
  content: "B104";
  top: 40px;
  left: 60px;
}

body table .second td:nth-of-type(3)::after {
  content: "c17";
  top: 40px;
  left: 65px;
}

body table .second td:nth-of-type(4)::after {
  content: "a gym";
  top: 40px;
  left: 65px;
}

body table .second td:nth-of-type(5)::after {
  content: "a120";
  top: 40px;
  left: 70px;
}

body table .third td:nth-of-type(1)::after {
  content: "ICT 1";
  top: 40px;
  left: 60px;
}

body table .third td:nth-of-type(2)::after {
  content: "B21";
  top: 40px;
  left: 68px;
}

body table .third td:nth-of-type(3)::after {
  content: "C5";
  top: 40px;
  left: 65px;
}

body table .third td:nth-of-type(4)::after {
  content: "b21";
  top: 40px;
  left: 75px;
}

body table .third td:nth-of-type(5)::after {
  content: "a24";
  top: 40px;
  left: 75px;
}

body table .fourth td:nth-of-type(1)::after {
  content: "b104";
  top: 40px;
  left: 60px;
}

body table .fourth td:nth-of-type(2)::after {
  content: "C17";
  top: 40px;
  left: 60px;
}

body table .fourth td:nth-of-type(3)::after {
  content: "a120";
  top: 40px;
  left: 60px;
}

body table .fourth td:nth-of-type(4)::after {
  content: "b101";
  top: 40px;
  left: 70px;
}

body table .fourth td:nth-of-type(5)::after {
  content: "a gym";
  top: 40px;
  left: 65px;
}

body table .fifth td:nth-of-type(1)::after {
  content: "c17";
  top: 40px;
  left: 65px;
}

body table .fifth td:nth-of-type(2)::after {
  content: "lab1";
  top: 40px;
  left: 60px;
}

body table .fifth td:nth-of-type(3)::after {
  content: "B21";
  top: 40px;
  left: 65px;
}

body table .fifth td:nth-of-type(4)::after {
  content: "lab1";
  top: 40px;
  left: 70px;
}

body table .fifth td:nth-of-type(5)::after {
  content: "B18";
  top: 40px;
  left: 75px;
}
