* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
}

div {
  position: relative;
  width: 70%;
  height: 500px;
  div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 120px;
    position: absolute;
    top: 50%;
    left: 70%;
    border: 10px solid rgba(0, 0, 0, 0.3);
    border-radius: 80px;
    overflow: hidden;

    &::before,
    &::after {
      position: absolute;
      width: 400px;
      height: 0px;
      content: "";
      z-index: -1;
      transition: all .1s ease-in;
      
      background: black;
    }

    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }

    &:hover {
      transform: scale(1.1);
      border: none;
      &::before,
      &::after {
        
        height: 100%;
      }
      & .pm {
        transform: scale(1.1);
        color: white;
      }
    }
    .pm {
      font-size: 64px;
      color: rgba(0, 0, 0, 0.3);
    }
    .sg {
      position: absolute;
      display: none;
    }
    .tc {
      position: absolute;
      display: none;
    }
  }
}


