* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: black;
}

nav {
  display: flex;
  justify-content: center;
}

ul {
  display: flex;
  gap: 1px;
}

li {
  display: flex;
  transform: scale(0.875);
  background: rgba(138, 135, 135, 0.253);
}

a {
  padding: 10px 15px;
}

li:hover {
  background: rgba(138, 135, 135, 0.603);
  transition: 0.4s;
}

li.actived {
  background: rgb(138, 135, 135);
  transform: scale(1);
}
